<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HTML5 Boilerplate</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>

    </header>

    {{{body}}}

    <footer>
      <a href="/">Home</a>
      <a href="/favorite">Favorite</a>
      <a href="/new_post">Profil</a>
    </footer>
  </body>

</html>