<form action="/new_post" enctype="multipart/form-data" method="post">
  Event Name:
  <input type="text" name="event_name" /><br />
  Beschreibung:
  <input type="text" name="description" /><br />
  <input type="submit" />
</form>