<header>
  <h1>Dein Profil</h1>

</header>

<form
  action="/create_post"
  enctype="multipart/form-data"
  method="post"
  class="content"
>

  <input type="file" name="image" />
  <input type="text" name="title" />
  <input type="text" name="caption" />
  <input type="submit" />
</form>
<body>

  {{#posts}}
    <img src="uploads/{{image}}" width="40%" />
  {{/posts}}

</body>