<header>

  <h1>Entdecke die Vielfalt der Rezepte und kreiere dein nächstes
    Lieblingsgericht!</h1>

</header>

<div class="content">

  {{#posts}}
    <a href="/detail/{{id}}">
      <img src="uploads/{{image}}" width="30%" /></a>
  {{/posts}}

</div>