* {
  font-family: "Brother 1816";
}

h1 {
  font-size: 40px;
  font-family: "Brother 1816";
}

footer {
  display: flex;
  justify-content: center;
  background-color: white;
}

footer,
a {
  padding: 20px;
}
